---
import Layout from "@/layouts/Layout.astro";
import BlogList from "@/components/BlogList.astro";
import { getBlogs } from "@/utils/api";
import type { PaginatedBlogList } from "@/types/blog";

const blogPagination: PaginatedBlogList = await getBlogs();
---

<Layout title="DevNudge software development blog">
  <h1>Blog</h1>
  <BlogList path="/blog" blogPagination={blogPagination} />
</Layout>
