@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-extrabold mt-5 mb-10;
  }

  h2 {
    @apply text-3xl font-semibold mb-6;
  }

  h3 {
    @apply text-2xl font-semibold mb-3;
  }

  p {
    @apply mb-6;
  }

  pre {
    @apply mb-6;
  }

  iframe {
    @apply mb-6;
  }

  blockquote {
    @apply mb-6;
  }

  article a {
    @apply font-medium underline underline-offset-4;
  }

  article p img {
    @apply mx-auto;
  }

  article p:first-child:has(u) {
    @apply m-0;
  }

  ul {
    @apply list-disc ml-6 mb-6;
  }

  ol {
    @apply list-decimal ml-6 mb-6;
  }

  blockquote {
    @apply border-l-4 pl-4 border-black;
  }

  .link {
    @apply text-2xl font-bold underline decoration-2 decoration-dotted underline-offset-8 hover:text-blue-700 hover:decoration-blue-700;
  }

  .button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5;
  }

  article ul li a {
    @apply no-underline hover:underline;
  }

  article img {
    @apply mb-6;
  }
}
