---
import Layout from "@/layouts/Layout.astro";
import XHomeButton from "@/components/XHomeButton.astro";
import BlogLatest from "@/components/BlogLatest.astro";
---

<Layout title="DevNudge software development blog">
  <p class="text-3xl font-bold leading-normal text-gray-900 dark:text-white">
    Documentation of my web developer journey
  </p>
  <p class="text-xl font-bold leading-normal text-gray-900 dark:text-white">
    Hi, I'm Mesh!, this is my developer blog where I write guides on new or
    existing web technologies that I use in my personal projects and
    professional work.
  </p>
  <XHomeButton />
  <BlogLatest />
</Layout>
