---
import Layout from '../layouts/Layout.astro'
import BlogListItem from '../components/BlogListItem.astro'
import { getNotionPages } from '../utils/notion'
import type { NotionPage } from '../types/notion'

let pages = await getNotionPages()
pages = pages.filter(page => page.slug)
---

<Layout title="Welcome to Mesh's Blog">
	<h1>Posts</h1>
	{ pages.map((page: NotionPage) => <BlogListItem page={ page } />) }
</Layout>