---
import Layout from "@/layouts/Layout.astro";
import BlogList from "@/components/BlogList.astro";
import { getBlogs } from "@/utils/api";
import type { PaginatedBlogList } from "@/types/blog";
import BlogLatest from "@/components/BlogLatest.astro";
import XHomeButton from "@/components/XHomeButton.astro";

const blogPagination: PaginatedBlogList = await getBlogs();
---

<Layout title="DevNudge software development blog">
  <h1>DevNudge</h1>
  <p class="text-xl font-bold leading-normal text-gray-900 dark:text-white">
    Hi, I'm Mesh!, this is my developer blog where I write guides on new or
    existing web technologies that I use in my personal projects and
    professional work.
  </p>
  <XHomeButton />
  <BlogLatest />
</Layout>
