---
import Layout from "@/layouts/Layout.astro";
---

<script is:inline>
  const onSubmit = async () => {
    const url = `${import.meta.env.PUBLIC_DEVNUDGE_API_URL}/sites/1/subscribers`;
    const email = document.getElementById("email-field")?.value || null;

    if (!email) {
      alert("Email address is required");
    }

    try {
      const response = await fetch(url, {
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        method: "POST",
        body: JSON.stringify({ email }),
      });

      if (!response.ok) {
        throw new Error(`Response status: ${response.status}`);
      }

      const json = await response.json();
      console.log(json);

      document.getElementById("email-field").value = "";
      alert("Thank you for signing up");
    } catch (error) {
      console.error(error.message);
    }
  };
</script>

<Layout title="DevNudge software development blog">
  <h2 class="mb-10">Newsletter</h2>
  <p class="text-xl font-bold leading-normal text-gray-900 dark:text-white">
    I'm currenty working on a newsletter to provide content to subscribers.
  </p>
  <p class="text-xl font-bold leading-normal text-gray-900 dark:text-white">
    If your a beginner developer interested in becoming a better developer then
    consider subscribing to my newsletter where I will be providing tips,
    courses and updates on upcoming projects.
  </p>
  <form class="flex justify-center mt-10" onsubmit="onSubmit(); return false">
    <div class="relative h-10">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
      >
        <svg
          class="w-4 h-4 pt-1 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 16"
        >
          <path
            d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
          ></path>
          <path
            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
          ></path>
        </svg>
      </div>
      <input
        type="email"
        id="email-field"
        class="w-80 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Enter you email address"
      />
    </div>
    <button
      type="submit"
      class="ml-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Submit</button
    >
  </form>
</Layout>
