---
import dayjs from "dayjs";
import type { BlogItem } from "@/types/blog";

type Props = { blog: BlogItem };
const { blog } = Astro.props;
---

<div class="flex justify-between mb-6">
  <a class="link" href={`/${blog.slug}`}>{blog.title}</a>
  <div class="hover:decoration-blue-700">
    {blog.published_at ? dayjs(blog.published_at).format("MMM D, YYYY") : ""}
  </div>
</div>
