---
import BlogTag from "@/components/BlogTag.astro";
import dayjs from "dayjs";
import type { BlogItem } from "@/types/blog";

type Props = { blog: BlogItem };
const { blog } = Astro.props;
---

<div class="flex flex-row justify-between mb-14">
  <div class="max-w-xl">
    <a class="link" href={`/${blog.slug}`}>{blog.title}</a>
    <div class="mt-4">
      {blog.tags.map((tag: string) => <BlogTag tag={tag} />)}
    </div>
  </div>
  <div class="mb-6">
    {blog.published_at ? dayjs(blog.published_at).format("MMM D, YYYY") : ""}
  </div>
</div>
