---
type Props = { tag: string };
const { tag } = Astro.props;
---

<a href={`/tag/${tag}`}>
  <span
    class="text-gray-800 text-xl font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500"
  >
    {tag}
  </span>
</a>
