---
type Props = { tag: string };
const { tag } = Astro.props;
---

<a href={`/tag/${tag}`}>
  <span
    class="text-gray-800 text-xl font-medium me-2 px-2.5 py-0.5 rounded border border-gray-500 hover:text-blue-700 hover:border-blue-700"
  >
    {tag}
  </span>
</a>
