---
import Layout from "@/layouts/Layout.astro";
import BlogListItem from "@/components/BlogListItem.astro";
import type { TagStaticPathParams } from "@/types/static";
import { getTaggedBlogListPaths } from "@/utils/staticPaths";
import { getBlogsByTag } from "@/utils/api";
import type { BlogList } from "@/types/blog";

export async function getStaticPaths() {
  const pageTags: TagStaticPathParams[] = await getTaggedBlogListPaths();
  return pageTags;
}

const { tag } = Astro.params;
let pages = await getBlogsByTag(tag);
---

<Layout title="Welcome to Mesh's Blog">
  <h1>Tag: {tag}</h1>
  {pages.map((blog: BlogList) => <BlogListItem blog={blog} />)}
</Layout>
