---
const year: number = new Date().getFullYear();
---

<footer class="flex justify-between p-4 text-black">
  <div class="font-bold">&copy; {year} DevNudge</div>
  <div class="font-semibold">
    Built with <a
      class="hover:underline hover:underline-offset-4"
      href="https://astro.build"
      target="_blank">Astro</a
    >
  </div>
</footer>
