<header class="py-6">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/" class="text-xl">DevPush</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Home</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
