---
import "@/styles/highlight.min.css";
import "@/styles/base.css";
import Header from "@/layouts/Header.astro";
import Footer from "./Footer.astro";

type Props = { title: string };
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      defer
      src="https://api.pirsch.io/pa.js"
      id="pianjs"
      data-code={import.meta.env.PIRSCH_CODE}></script>
    <script
      src={`https://www.google.com/recaptcha/api.js?render=${import.meta.env.PUBLIC_GOOGLE_RECAPTCHA_KEY}`}
    ></script>
  </head>
  <body>
    <div class="m-auto max-w-3xl px-6">
      <Header />
      <main class="min-h-[1000px] px-4 pb-20">
        <slot />
      </main>
      <Footer />
    </div>
  </body>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      /* background: #13151a; */
      background: #fff;
      background-size: 224px;
    }
    main {
      color: #000;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</html>
